html{
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
}

body{
    margin: 0;
}

h3{
    font-size: 1rem;
    margin: 0;
    font-weight: 600;
 
}

#header-site{
    
    background-color: #02A28F;
    margin:0rem 0rem 1rem ;
    padding: 0.4rem 0.3rem 0.4rem 3rem;
    color: #fff;
    font-size: 1rem;
}

#footer-site{
    background-color: #02A28F;
    margin: 0px;
    color: #fff;
    font-size: 0.5rem;
    text-align: center;
}

#footer-site p {
    padding: 0.4rem 0.3rem;
    margin:0;
}

#container{
    display: grid;
    grid-template-columns: 75% 25%;
    margin-left: 2rem;
    margin-right: 2rem;
    
}

#blog_sideLeft, #blog_sideRigth {
    display: flex;
    flex-direction: column;
    

}

#blog_sideLeft{
    margin-right: 0.5rem;

}

#popularCards{
    margin-bottom: 1rem;
    margin-right: 1remx;
}

#popularCardsItem {
    display: flex;
    flex-direction: row;
    padding: 0.2rem;
    gap: 0.2rem;

    margin-top: 5px;
    border-radius: 8px;
    box-shadow: 1px 5px rgb(229, 228, 228);

}


#title_image{

    background-image: url(./assets/mainPicture.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0rem 0rem 1rem 0rem ;
    padding: 0px;

}

#titleOpnion{
    font-size: 0.5rem;
    color: white;
    padding-top: 5rem;
    padding: 5rem 0rem 0rem 1rem;
    margin-bottom: 0;
}

#titleAuthor{

    font-size: 0.5rem;
    color: white;

    padding: 0rem 0rem 1rem 1rem;
    margin-top: 0;
    
}



#title_image h1{
    font-size: 0.8rem;
    color: white;
    margin: 0;
    padding: 0rem 0rem 0rem 1rem;

}



#cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    margin-bottom: 2rem;
}

#cards img{
    width: 100%;
}

#card_div{
    padding: 0rem 0.2rem 0rem 0.2rem;
}

.card_item{
    margin-top: 0.5rem;
    border-radius: 0.4rem;
    box-shadow: 1px 10px rgb(219, 219, 219);
}

#titleTodos{
    font-size: 0.2rem;
    text-decoration:underline;
    
}

.card_item_p{

    font-size: 0.5rem;
    font-weight:700;
    
}

.card_item_pop{

    font-size: 0.3rem;
    font-weight:600;
    
}

.divImgCardItem{
    width: 3rem;
    object-fit: cover;

}
.cards_p_category{
    font-size: 0.4rem;
    color: #02A28F;
    margin-top: 0px;
}

.cards_p{
    font-size: 0.3rem;
    
}

.cards_pop{
    font-size: 0.2rem;
    
}
.popImgCardsItem{

    width: 3rem;
    height: 2rem;
    width: 100%;
}

.title_section{
    background-color: #02A28F;
    margin: 0px;
    color: #fff;
    border-radius: 8px;
    font-size: 0.4rem;
    font-weight: 500;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.CategoryID{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.3rem;
    margin-top: 0.2rem;

}

.CategoryID p{
    margin: 0.2rem;
}

@media only screen and (min-width: 768px) and (max-width: 2560px){

    #header-site{
    
        background-color: #02A28F;
        margin:0rem 0rem 1rem ;
        padding: 0.4rem 0.3rem 0.4rem 3rem;
        color: #fff;
        font-size: 1rem;
    }

    #container{
        display: grid;
        grid-template-columns: 72% 25%;
        margin-left: 1.5rem;
        margin-right: 2rem;
        
    }

    #titleOpnion{
        font-size: 0.5rem;
        color: white;
        padding-top: 5rem;
        padding: 5rem 0rem 0rem 1.5rem;
        margin-bottom: 0;
    }
    
    #titleAuthor{

        font-size: 0.5rem;
        color: white;
    
        padding: 0rem 0rem 1rem 1.5rem;
        margin-top: 0;
        
    }
    
   
    #title_image h1{
        font-size: 0.8rem;
        color: white;
        margin: 0;
        padding: 0rem 0rem 0rem 1.5rem;
    
    }
    

}

@media only screen and (min-width: 320px) and (max-width: 767px){

    
    #header-site{
    
        text-align: center;
        padding: 0.3rem 0rem 0.3rem 0rem;
        font-size: 0.5rem;
        margin:0rem 0rem 0.3rem ;
    }


    #container{
        display: grid;
        grid-template-columns: 75% 25%;
        margin-left: 0.5rem;
        margin-right: 1rem;
        align-items: center;
        
        
    }

    #title_image{

  
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0rem 0rem 0.5rem 0rem ;
        padding: 0px;
    
    }



    #title_image h1{
        font-size: 0.8rem;

    
    }

    #cards{
        display: grid;
        grid-template-columns:  1fr;
        gap: 0.5rem;
        margin-bottom: 1rem;
        
        justify-content: center;

        
        align-items: center;

    }
    
    #container {
        display: grid;
        grid-template-columns:  1fr;
        
        margin-bottom: 0.5rem;
    
    }

    #blog_sideRigth{
        margin-right: 0.5rem;

    }

}
